.header {
  background-color: #D9D9D9;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 300px;
  margin-bottom: 19px;
  .logo{
    height: 37px;
    width: 181px;
    background-color: #F1F2AE;
    display: flex;
  }
  .menu {
    display: flex;
    gap: 20px;
    li {
      height: 37px;
      width: 46px;
      list-style-type: none;
      background-color: #E7EFD6;

    }
  }
  .header-name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}